{%- liquid 
    assign icon = block.settings.icon
    assign text = block.settings.text
    assign text_description = block.settings.text_description
    assign color_title = block.settings.color_title
    assign color_des = block.settings.color_des
    assign fontsize_text = block.settings.fontsize_text
    assign content_popup = block.settings.content_popup
-%}
<div class="product-customInformation text-left{%if content_popup == blank %} disabled{% endif %}" data-custom-information>
    {%- if icon != blank -%}
        <div class="product-customInformation__icon">
            {{ icon }}
        </div>
    {%- endif -%}
    {%- if text != blank or text_icon != blank -%}
      <div class="product-customInformation__content">
            {%- if text != blank -%}
               <div class="nz-accordian">
            <style>
.accordion {
  background-color: transparent;
  color: #000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: transparent;
}

.accordion:after {
  content: '\002B';
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 0 10px;
  background-color: white; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
}
.nz-accordian ul {
    list-style-type: none;
    padding: 0;
}
.nz-accordian ul li {
    padding: 5px 0px;
    color: #000;
}
.nz-accordian ul li.bold {
    font-weight:bold;
}
.nz-accordian p {
    color: #000 ;
    font-size: 12px;
}

.inner-wrapper-sticky {
    transform: none!important;
}
</style>


<button class="accordion">Care Instructions</button>
<div class="panel">
<ul>
 
    <li>Wash light and bright colors separately.</li>
    <li>Machine or hand wash upto 30°C/86F.</li>
    <li>Do not bleach.</li>
    <li>Do not tumble dry.</li>
    <li>Delicate spin cycle on gentler/embellished garments.</li> 
    <li>Do not dry in direct sunlight.</li>

</ul>
</div>

<button class="accordion">Shipping &amp; Return</button>
<div class="panel">
      <li>The estimated delivery timeline for local order is 2-3 working days.</li>
      <li>International delivery timeline will be 7-10 working days.</li>
      <li>Exchange & Return</li>
      <li>There will be no exchange/refund on a discounted products.</li>
      <li>Any defect in product can be claimed on presentation of original receipt within 3 days of receiving the order.</li>
      <li>For more details on refund/claims you can check our <a href="https://www.shahnameh.pk/pages/return-exchange-policy">Return & Exchange Policy</a></li>
</div>


<button class="accordion">Disclaimer</button>
<div class="panel" style="">
 
           
               <p>Actual colors of the product may slightly vary from the colors being displayed on your device.</p>    

</div>



<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
          </div>
        
            {%- endif -%}
            {%- if text_description != blank -%}
                <div class="product__text des" {{ block.shopify_attributes }} 
                    style="--fontsize-text:{{ fontsize_text | append: 'px' }};
                    --color-des: {{ color_des }}"
                >
                    {{ text_description }}
                </div>
            {%- endif -%}
        </div>
    {%- endif -%}
    {%- if content_popup != blank -%}
        <div class="product-customInformation__popup hidden">
            {{ content_popup }}
        </div>
    {%- endif -%}
</div>