<div class="productView-perks">
    {%- if show_size_chart and has_size_chart -%}
        <div class="productView-sizeChart">
            <a class="link link-underline" href="javascript:void(0)" data-open-size-chart-popup>
                {% render 'icon-size-chart-2' %}
                <span class="text">
                    {{ 'size_chart.general.text' | t }}
                </span>
            </a>
        </div>
    {%- endif -%}
    {%- if show_compare_color and isColor and compare_layout == '1' -%}
        <div class="productView-compareColor style-{{ compare_layout }}">
            <button type="button" class="link link-underline" aria-label="{{ 'compare_color.general.title' | t }}" data-open-compare-color-popup>
                {% render 'icon-compare-color-2' %}
                <span class="text">
                    {{ 'compare_color.general.title' | t }}
                </span>
            </button>
        </div>
    {%- endif -%}
    {%- if settings.show_ask_an_expert -%}
        <div class="productView-askAnExpert">
            <a class="link link-underline" href="javascript:void(0)" data-open-ask-an-expert>
                {%- if settings.ask_an_expert_icon != blank -%}
                    {{ settings.ask_an_expert_icon }}
                {%- endif -%}
                <span class="text">
                    {{ 'ask_an_expert.general.text' | t}}
                </span>
            </a>
        </div>
    {%- endif -%}

          <div class="productView-perks"><div class="productView-sizeChart productView-sizeChart-custom">
            <a class="link link-underline" href="halo-size-chart-popup" data-open-size-chart-popup="">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
  <image width="25" height="16" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAAWElEQVQ4jWNUVlaexsDAkMlAOzCdCdmCO3fuMFCbDTKfiYY+gINRS6hjiYqKClY2qWrwWkJNAMon/2ltyWjqGsSWMDIy0t6S//9pl8hAlkynmekgwMAwHQD5bhxCu6stFwAAAABJRU5ErkJggg=="></image>
</svg>
                <span class="text">
                    Size Guide
                </span>
            </a>
        </div></div>
</div>